## <center>Manejo de Bases de datos</center>

En esta sección finalizaremos los temas relacionados con bases de datos, con:
* Resumen
* Agrupar por
* Split
* Reshape
* Subset

In [1]:
import pandas as pd
import numpy as np

Trabajaremos con dos bases de datos nuevas, una con información de películas y series y otra de jugadores de la NBA.

In [37]:
df = pd.read_csv('movie.csv', sep = ";")

In [15]:
df.head()

,title,rating,ratinglevel,ratingdescription,release_year,user_rating_score,user_rating_size,group
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80,80:2004
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82,100:2006
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80,90:2016
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80,90:2008
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80,70:2014

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              1000 non-null   object
 1   rating             1000 non-null   object
 2   ratinglevel        941 non-null    object
 3   ratingdescription  1000 non-null   int64
 4   release_year       1000 non-null   int64
 5   user_rating_score  605 non-null    float64
 6   user_rating_size   1000 non-null   int64
 7   group              1000 non-null   object
dtypes: float64(1), int64(3), object(4)
memory usage: 46.9+ KB

Eliminemos índices con valores vacios y repetidos

In [38]:
df.dropna(inplace=True)
df.drop_duplicates(inplace=True)

Veamos un resumen del Data frame.

In [12]:
df.describe()

       ratingdescription  release_year  user_rating_score  user_rating_size
count         246.000000    246.000000         246.000000             246.0
mean           73.556911   2010.272358          81.390244              80.0
std            26.616145      8.887219          12.677883               0.0
min            10.000000   1940.000000          55.000000              80.0
25%            60.000000   2007.000000          71.000000              80.0
50%            80.000000   2015.000000          83.500000              80.0
75%            90.000000   2016.000000          92.750000              80.0
max           124.000000   2017.000000          99.000000              80.0

### Agrupar por

En estos ejemplos agruparemos por la función groupby que es útil a la hora de realizar calculos por grupos para nuestros datos.

Estas manipulaciones son utiles, pues nos permiten interactuar con las bases de datos, para obtener resultados más rápido.

In [21]:
df_by_year = df.groupby('release_year')
type(df_by_year)

pandas.core.groupby.generic.DataFrameGroupBy

In [22]:
# Exploremos el Data frame
df_by_year.describe()

             ratingdescription                                            \
                         count       mean        std   min    25%    50%
release_year
1940                       1.0  35.000000        NaN  35.0  35.00   35.0
1978                       1.0  60.000000        NaN  60.0  60.00   60.0
1982                       1.0  60.000000        NaN  60.0  60.00   60.0
1986                       1.0  35.000000        NaN  35.0  35.00   35.0
1987                       1.0  60.000000        NaN  60.0  60.00   60.0
1989                       1.0  60.000000        NaN  60.0  60.00   60.0
1990                       1.0  41.000000        NaN  41.0  41.00   41.0
1992                       1.0  35.000000        NaN  35.0  35.00   35.0
1993                       3.0  51.666667  14.433757  35.0  47.50   60.0
1994                       4.0  60.000000   0.000000  60.0  60.00   60.0
1995                       2.0  47.500000  17.677670  35.0  41.25   47.5
1997                       5.0  41.200000  20.729206  10.0  35.00   41.0
1998                       5.0  55.200000  17.824141  35.0  41.00   60.0
1999                       4.0  52.500000  21.794495  35.0  35.00   47.5
2000                       4.0  35.000000  20.412415  10.0  28.75   35.0
2001                       2.0  80.000000  28.284271  60.0  70.00   80.0
2002                       2.0  60.000000   0.000000  60.0  60.00   60.0
2003                       5.0  61.400000  23.660093  35.0  42.00   60.0
2004                       3.0  58.333333  22.546249  35.0  47.50   60.0
2005                       7.0  66.428571  19.303343  35.0  60.00   60.0
2006                       7.0  63.571429  27.036131  35.0  35.00   80.0
2007                       5.0  31.200000  21.440616  10.0  10.00   35.0
2008                       6.0  71.666667  11.690452  60.0  62.50   70.0
2009                       3.0  55.000000  18.027756  35.0  47.50   60.0
2010                       6.0  66.166667  23.327380  35.0  49.00   70.0
2011                       2.0  90.000000   0.000000  90.0  90.00   90.0
2012                      16.0  78.437500  23.573909  35.0  70.00   90.0
2013                      11.0  88.545455  29.039159  10.0  90.00   90.0
2014                      12.0  79.583333  21.368874  35.0  70.00   80.0
2015                      32.0  73.250000  27.344870  10.0  60.00   80.0
2016                      82.0  84.341463  23.018629  10.0  70.00   90.0
2017                      10.0  94.300000  28.519194  41.0  95.00  110.0

                            user_rating_score             ...               \
                 75%    max             count       mean  ...    75%   max
release_year                                              ...
1940           35.00   35.0               1.0  61.000000  ...  61.00  61.0
1978           60.00   60.0               1.0  86.000000  ...  86.00  86.0
1982           60.00   60.0               1.0  68.000000  ...  68.00  68.0
1986           35.00   35.0               1.0  67.000000  ...  67.00  67.0
1987           60.00   60.0               1.0  58.000000  ...  58.00  58.0
1989           60.00   60.0               1.0  80.000000  ...  80.00  80.0
1990           41.00   41.0               1.0  65.000000  ...  65.00  65.0
1992           35.00   35.0               1.0  70.000000  ...  70.00  70.0
1993           60.00   60.0               3.0  87.000000  ...  90.00  96.0
1994           60.00   60.0               4.0  80.000000  ...  87.75  93.0
1995           53.75   60.0               2.0  69.000000  ...  71.50  74.0
1997           60.00   60.0               5.0  80.800000  ...  83.00  93.0
1998           60.00   80.0               5.0  79.000000  ...  82.00  88.0
1999           65.00   80.0               4.0  78.250000  ...  86.00  95.0
2000           41.25   60.0               4.0  85.000000  ...  92.00  95.0
2001           90.00  100.0               2.0  87.000000  ...  91.50  96.0
2002           60.00   60.0               2.0  90.500000  ...  92.75  95.0
2003           80.00   90.0               5.0  72.600000  ...  79.00  98.0
2004           70.00   80.0               3.0  83.000000  ...  83.50  85.0
2005           80.00   90.0               7.0  88.142857  ...  91.00  92.0
2006           85.00   90.0               7.0  69.285714  ...  77.00  91.0
2007           41.00   60.0               5.0  73.200000  ...  77.00  94.0
2008           77.50   90.0               6.0  79.833333  ...  90.50  98.0
2009           65.00   70.0               3.0  75.000000  ...  84.50  95.0
2010           85.00   90.0               6.0  78.333333  ...  87.00  98.0
2011           90.00   90.0               2.0  89.000000  ...  89.50  90.0
2012           90.00  110.0              16.0  79.437500  ...  88.00  97.0
2013          100.00  124.0              11.0  76.909091  ...  88.50  97.0
2014           90.00  110.0              12.0  74.916667  ...  84.00  94.0
2015           90.00  110.0              32.0  82.750000  ...  93.25  98.0
2016          100.00  124.0              82.0  85.060976  ...  95.00  98.0
2017          110.00  110.0              10.0  87.000000  ...  92.50  99.0

             user_rating_size
                        count  mean  std   min   25%   50%   75%   max
release_year
1940                      1.0  80.0  NaN  80.0  80.0  80.0  80.0  80.0
1978                      1.0  80.0  NaN  80.0  80.0  80.0  80.0  80.0
1982                      1.0  80.0  NaN  80.0  80.0  80.0  80.0  80.0
1986                      1.0  80.0  NaN  80.0  80.0  80.0  80.0  80.0
1987                      1.0  80.0  NaN  80.0  80.0  80.0  80.0  80.0
1989                      1.0  80.0  NaN  80.0  80.0  80.0  80.0  80.0
1990                      1.0  80.0  NaN  80.0  80.0  80.0  80.0  80.0
1992                      1.0  80.0  NaN  80.0  80.0  80.0  80.0  80.0
1993                      3.0  80.0  0.0  80.0  80.0  80.0  80.0  80.0
1994                      4.0  80.0  0.0  80.0  80.0  80.0  80.0  80.0
1995                      2.0  80.0  0.0  80.0  80.0  80.0  80.0  80.0
1997                      5.0  80.0  0.0  80.0  80.0  80.0  80.0  80.0
1998                      5.0  80.0  0.0  80.0  80.0  80.0  80.0  80.0
1999                      4.0  80.0  0.0  80.0  80.0  80.0  80.0  80.0
2000                      4.0  80.0  0.0  80.0  80.0  80.0  80.0  80.0
2001                      2.0  80.0  0.0  80.0  80.0  80.0  80.0  80.0
2002                      2.0  80.0  0.0  80.0  80.0  80.0  80.0  80.0
2003                      5.0  80.0  0.0  80.0  80.0  80.0  80.0  80.0
2004                      3.0  80.0  0.0  80.0  80.0  80.0  80.0  80.0
2005                      7.0  80.0  0.0  80.0  80.0  80.0  80.0  80.0
2006                      7.0  80.0  0.0  80.0  80.0  80.0  80.0  80.0
2007                      5.0  80.0  0.0  80.0  80.0  80.0  80.0  80.0
2008                      6.0  80.0  0.0  80.0  80.0  80.0  80.0  80.0
2009                      3.0  80.0  0.0  80.0  80.0  80.0  80.0  80.0
2010                      6.0  80.0  0.0  80.0  80.0  80.0  80.0  80.0
2011                      2.0  80.0  0.0  80.0  80.0  80.0  80.0  80.0
2012                     16.0  80.0  0.0  80.0  80.0  80.0  80.0  80.0
2013                     11.0  80.0  0.0  80.0  80.0  80.0  80.0  80.0
2014                     12.0  80.0  0.0  80.0  80.0  80.0  80.0  80.0
2015                     32.0  80.0  0.0  80.0  80.0  80.0  80.0  80.0
2016                     82.0  80.0  0.0  80.0  80.0  80.0  80.0  80.0
2017                     10.0  80.0  0.0  80.0  80.0  80.0  80.0  80.0

[32 rows x 24 columns]

In [23]:
# Escojamos un registro
list(df_by_year)[10]

(1995,
             title rating                                ratinglevel  \
 766         Balto      G  General Audiences. Suitable for all ages.
 967  Heavyweights     PG              some rude language and pranks

      ratingdescription  release_year  user_rating_score  user_rating_size  \
 766                 35          1995               64.0                80
 967                 60          1995               74.0                80

        group
 766  35:1995
 967  60:1995  )

In [24]:
# Descriptivas básicas por grupos
df_by_year.describe().head()

             ratingdescription                                          \
                         count  mean std   min   25%   50%   75%   max
release_year
1940                       1.0  35.0 NaN  35.0  35.0  35.0  35.0  35.0
1978                       1.0  60.0 NaN  60.0  60.0  60.0  60.0  60.0
1982                       1.0  60.0 NaN  60.0  60.0  60.0  60.0  60.0
1986                       1.0  35.0 NaN  35.0  35.0  35.0  35.0  35.0
1987                       1.0  60.0 NaN  60.0  60.0  60.0  60.0  60.0

             user_rating_score        ...             user_rating_size        \
                         count  mean  ...   75%   max            count  mean
release_year                          ...
1940                       1.0  61.0  ...  61.0  61.0              1.0  80.0
1978                       1.0  86.0  ...  86.0  86.0              1.0  80.0
1982                       1.0  68.0  ...  68.0  68.0              1.0  80.0
1986                       1.0  67.0  ...  67.0  67.0              1.0  80.0
1987                       1.0  58.0  ...  58.0  58.0              1.0  80.0


             std   min   25%   50%   75%   max
release_year
1940         NaN  80.0  80.0  80.0  80.0  80.0
1978         NaN  80.0  80.0  80.0  80.0  80.0
1982         NaN  80.0  80.0  80.0  80.0  80.0
1986         NaN  80.0  80.0  80.0  80.0  80.0
1987         NaN  80.0  80.0  80.0  80.0  80.0

[5 rows x 24 columns]

In [25]:
# Calcular una función por grupos
df_med_by_year = df_by_year.mean()
df_med_by_year.head()

              ratingdescription  user_rating_score  user_rating_size
release_year
1940                       35.0               61.0              80.0
1978                       60.0               86.0              80.0
1982                       60.0               68.0              80.0
1986                       35.0               67.0              80.0
1987                       60.0               58.0              80.0

In [26]:
# Miremos la indexación del grupo
print(df_med_by_year.index)

Int64Index([1940, 1978, 1982, 1986, 1987, 1989, 1990, 1992, 1993, 1994, 1995,
            1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007,
            2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017],
           dtype='int64', name='release_year')

In [32]:
df2 = df.groupby('release_year')
# Miremos la primera entrada de cada subgrupo
df2.first()

,title,rating,ratinglevel,ratingdescription,user_rating_score,user_rating_size,group
release_year,,,,,,,
1940,Fantasia,G,General Audiences. Suitable for all ages.,35,61.0,80,35:1940
1978,Grease,PG,Parental guidance suggested. May not be suitab...,60,86.0,80,60:1978
1982,Annie,PG,adult content and mld violence,60,68.0,80,60:1982
1986,An American Tail,G,General Audiences. Suitable for all ages.,35,67.0,80,35:1986
1987,Harry and the Hendersons,PG,Parental guidance suggested. May not be suitab...,60,58.0,80,60:1987
1989,"Honey, I Shrunk the Kids",PG,Parental guidance suggested. May not be suitab...,60,80.0,80,60:1989
1990,The Real Ghostbusters,TV-Y7,Suitable for children ages 7 and older,41,65.0,80,41:1990
1992,FernGully: The Last Rainforest,G,General Audiences. Suitable for all ages.,35,70.0,80,35:1992
1993,The Nightmare Before Christmas,PG,some scary images,60,84.0,80,60:1993
1994,The Little Rascals,PG,some rude dialogue,60,86.0,80,60:1994
1995,Balto,G,General Audiences. Suitable for all ages.,35,64.0,80,35:1995
1997,Flubber,PG,slapstick action and mild language,60,83.0,80,60:1997
1998,The Waterboy,PG-13,language and some crude sexual humor,80,82.0,80,80:1998
1999,10 Things I Hate About You,PG-13,"adult content, adult language and mild violence",80,68.0,80,80:1999
2000,Pokémon: Indigo League,TV-Y,Suitable for all ages.,10,74.0,80,10:2000
2001,Blow,R,"pervasive drug content and language, some viol...",100,78.0,80,100:2001
2002,Scooby-Doo,PG,"some rude humor, language and some scary action",60,86.0,80,60:2002
2003,Friends,TV-14,Parents strongly cautioned. May be unsuitable ...,90,98.0,80,90:2003
2004,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,82.0,80,80:2004
2005,That '70s Show,TV-14,Parents strongly cautioned. May be unsuitable ...,90,89.0,80,90:2005
2006,Death Note,TV-14,Parents strongly cautioned. May be unsuitable ...,90,77.0,80,90:2006
2007,High School Musical 2,TV-G,Suitable for all ages.,35,58.0,80,35:2007
2008,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,98.0,80,90:2008
2009,Coraline,PG,"thematic elements, scary images, some language...",60,95.0,80,60:2009
2010,Life Unexpected,TV-PG,Parental guidance suggested. May not be suitab...,70,55.0,80,70:2010
2011,One Tree Hill,TV-14,Parents strongly cautioned. May be unsuitable ...,90,90.0,80,90:2011
2012,The Office (U.S.),TV-14,Parents strongly cautioned. May be unsuitable ...,90,97.0,80,90:2012
2013,Breaking Bad,TV-MA,For mature audiences. May not be suitable for ...,110,97.0,80,110:2013
2014,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,94.0,80,70:2014
2015,The Walking Dead,TV-MA,For mature audiences. May not be suitable for ...,110,98.0,80,110:2015
2016,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,98.0,80,90:2016
2017,The Vampire Diaries,TV-14,Parents strongly cautioned. May be unsuitable ...,90,91.0,80,90:2017

In [33]:
# Miremos los registros del subgrupo 2017
df2.get_group(2017)

,title,rating,ratinglevel,ratingdescription,user_rating_score,user_rating_size,group
7,The Vampire Diaries,TV-14,Parents strongly cautioned. May be unsuitable ...,90,91.0,80,90:2017
36,Santa Clarita Diet,TV-MA,For mature audiences. May not be suitable for ...,110,82.0,80,110:2017
41,13 Reasons Why,TV-MA,For mature audiences. May not be suitable for ...,110,99.0,80,110:2017
78,Grace and Frankie,TV-MA,For mature audiences. May not be suitable for ...,110,90.0,80,110:2017
80,The Get Down,TV-MA,For mature audiences. May not be suitable for ...,110,80.0,80,110:2017
97,Chewing Gum,TV-MA,For mature audiences. May not be suitable for ...,110,93.0,80,110:2017
148,Dave Chappelle,TV-MA,For mature audiences. May not be suitable for ...,110,94.0,80,110:2017
223,Sense8,TV-MA,For mature audiences. May not be suitable for ...,110,81.0,80,110:2017
626,Dragons: Race to the Edge,TV-Y7-FV,Suitable for children ages 7 and older. Conten...,42,88.0,80,42:2017
630,Dawn of the Croods,TV-Y7,Suitable for children ages 7 and older,41,72.0,80,41:2017

In [34]:
# Si queremos agrupar por dos variables en particular
df2 = df.groupby(['release_year', 'rating']).user_rating_score.sum()
pd.DataFrame(df2)

                       user_rating_score
release_year rating
1940         G                      61.0
1978         PG                     86.0
1982         PG                     68.0
1986         G                      67.0
1987         PG                     58.0
...                                  ...
2016         TV-Y7-FV              232.0
2017         TV-14                  91.0
             TV-MA                 619.0
             TV-Y7                  72.0
             TV-Y7-FV               88.0

[101 rows x 1 columns]

### Split columnas

En muchos casos podemos tener múltiples variable contenidas/concatenadas en una sola columna, para estas situaciones, debemos separar esa columna, manteniendo la estructura de la tabla

In [35]:
ndf = df["group"].str.split(":", n = 1, expand = True) 
ndf

      0     1
0    80  2004
2    90  2016
3    90  2008
4    70  2014
5    90  2016
..   ..   ...
966  60  1994
967  60  1995
972  60  1994
973  60  1989
979  70  2009

[246 rows x 2 columns]

In [39]:
# Agregamos ambas columnas
df["rating_description"]= ndf[0] 
df["year"]= ndf[1] 
df.head()

,title,rating,ratinglevel,ratingdescription,release_year,user_rating_score,user_rating_size,group,rating_description,year
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80,80:2004,80,2004
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80,90:2016,90,2016
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80,90:2008,90,2008
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80,70:2014,70,2014
5,Supernatural,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,95.0,80,90:2016,90,2016

In [41]:
# Eliminemos las columnas sobrantes
df.drop(columns =["ratingdescription", 'release_year', 'group'], inplace = True) 
df.head()

,title,rating,ratinglevel,user_rating_score,user_rating_size,rating_description,year
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",82.0,80,80,2004
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,98.0,80,90,2016
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,98.0,80,90,2008
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,94.0,80,70,2014
5,Supernatural,TV-14,Parents strongly cautioned. May be unsuitable ...,95.0,80,90,2016

### Reshape 
Hay ocasiones que la información no se encuentra en la forma en que la necesitamos, por lo cual, es necesario modificar la tabla, para el caso de un dataframe en Python lo podemos realizar de dos maneras:

* stack()
* melt()

In [42]:
df_nba = pd.read_csv('jugadores_nba.csv',sep=";")
df_nba.dropna(inplace=True)
df_nba.drop_duplicates(inplace=True)
df_nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-feb,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-jun,235.0,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-may,185.0,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-ago,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0

In [43]:
# Método stack - Pivot table
df_stacked = df_nba.stack()
print(type(df_stacked),'\n\n')
df_stacked.head(18)

<class 'pandas.core.series.Series'>

0  Name         Avery Bradley
   Team        Boston Celtics
   Number                   0
   Position                PG
   Age                     25
   Height               6-feb
   Weight                 180
   College              Texas
   Salary         7.73034e+06
1  Name           Jae Crowder
   Team        Boston Celtics
   Number                  99
   Position                SF
   Age                     25
   Height               6-jun
   Weight                 235
   College          Marquette
   Salary         6.79612e+06
dtype: object

In [44]:
# Retornemos a la tabla
df_unstacked = df_stacked.unstack() 
print(df_unstacked.head(10))

               Name            Team Number Position Age  Height Weight  \
0     Avery Bradley  Boston Celtics      0       PG  25   6-feb    180
1       Jae Crowder  Boston Celtics     99       SF  25   6-jun    235
3       R.J. Hunter  Boston Celtics     28       SG  22   6-may    185
6     Jordan Mickey  Boston Celtics     55       PF  21   6-ago    235
7      Kelly Olynyk  Boston Celtics     41        C  25     7-0    238
8      Terry Rozier  Boston Celtics     12       PG  22   6-feb    190
9      Marcus Smart  Boston Celtics     36       PG  22   6-abr    220
10  Jared Sullinger  Boston Celtics      7        C  24  6-sept    260
11    Isaiah Thomas  Boston Celtics      4       PG  27  5-sept    185
12      Evan Turner  Boston Celtics     11       SG  27   6-jul    220

           College       Salary
0            Texas  7.73034e+06
1        Marquette  6.79612e+06
3    Georgia State  1.14864e+06
6              LSU  1.17096e+06
7          Gonzaga  2.16516e+06
8       Louisville  1.82436e+06
9   Oklahoma State  3.43104e+06
10      Ohio State  2.56926e+06
11      Washington  6.91287e+06
12      Ohio State  3.42551e+06

In [45]:
# Método melt - Multiples índices
df_melt = df_nba.melt(id_vars =['Name', 'Team'])  
print(df_melt.head(10),"\n\n")
print(df_nba[['Name', 'Team']].head(10))

              Name            Team variable value
0    Avery Bradley  Boston Celtics   Number     0
1      Jae Crowder  Boston Celtics   Number    99
2      R.J. Hunter  Boston Celtics   Number    28
3    Jordan Mickey  Boston Celtics   Number    55
4     Kelly Olynyk  Boston Celtics   Number    41
5     Terry Rozier  Boston Celtics   Number    12
6     Marcus Smart  Boston Celtics   Number    36
7  Jared Sullinger  Boston Celtics   Number     7
8    Isaiah Thomas  Boston Celtics   Number     4
9      Evan Turner  Boston Celtics   Number    11


               Name            Team
0     Avery Bradley  Boston Celtics
1       Jae Crowder  Boston Celtics
3       R.J. Hunter  Boston Celtics
6     Jordan Mickey  Boston Celtics
7      Kelly Olynyk  Boston Celtics
8      Terry Rozier  Boston Celtics
9      Marcus Smart  Boston Celtics
10  Jared Sullinger  Boston Celtics
11    Isaiah Thomas  Boston Celtics
12      Evan Turner  Boston Celtics

In [47]:
# Tambien podemos transponer la tabla
df_t = df_nba.transpose()
df_t

,0,1,3,6,7,8,9,10,11,12,...,442,443,444,446,448,449,451,452,453,456
Name,Avery Bradley,Jae Crowder,R.J. Hunter,Jordan Mickey,Kelly Olynyk,Terry Rozier,Marcus Smart,Jared Sullinger,Isaiah Thomas,Evan Turner,...,Trevor Booker,Trey Burke,Alec Burks,Derrick Favors,Gordon Hayward,Rodney Hood,Chris Johnson,Trey Lyles,Shelvin Mack,Jeff Withey
Team,Boston Celtics,Boston Celtics,Boston Celtics,Boston Celtics,Boston Celtics,Boston Celtics,Boston Celtics,Boston Celtics,Boston Celtics,Boston Celtics,...,Utah Jazz,Utah Jazz,Utah Jazz,Utah Jazz,Utah Jazz,Utah Jazz,Utah Jazz,Utah Jazz,Utah Jazz,Utah Jazz
Number,0,99,28,55,41,12,36,7,4,11,...,33,3,10,15,20,5,23,41,8,24
Position,PG,SF,SG,PF,C,PG,PG,C,PG,SG,...,PF,PG,SG,PF,SF,SG,SF,PF,PG,C
Age,25,25,22,21,25,22,22,24,27,27,...,28,23,24,24,26,23,26,20,26,26
Height,6-feb,6-jun,6-may,6-ago,7-0,6-feb,6-abr,6-sept,5-sept,6-jul,...,6-ago,6-ene,6-jun,6-oct,6-ago,6-ago,6-jun,6-oct,6-mar,7-0
Weight,180,235,185,235,238,190,220,260,185,220,...,228,191,214,265,226,206,206,234,203,231
College,Texas,Marquette,Georgia State,LSU,Gonzaga,Louisville,Oklahoma State,Ohio State,Washington,Ohio State,...,Clemson,Michigan,Colorado,Georgia Tech,Butler,Duke,Dayton,Kentucky,Butler,Kansas
Salary,7.73034e+06,6.79612e+06,1.14864e+06,1.17096e+06,2.16516e+06,1.82436e+06,3.43104e+06,2.56926e+06,6.91287e+06,3.42551e+06,...,4.775e+06,2.65824e+06,9.46348e+06,1.2e+07,1.54096e+07,1.34844e+06,981348,2.2398e+06,2.43333e+06,947276

### Subset
En algunos casos, para efectuar consultas más rápidas es necesario seleccionar un subconjuto de datos que me permita:

* Visualizar con mayor precisión un subconjunto de la población
* Consultar un conjunto más pequeño de los datos

In [49]:
gdf = df_nba[df_nba.Team == 'Boston Celtics' ]
gdf

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-feb,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-jun,235.0,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-may,185.0,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-ago,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-feb,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-abr,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-sept,260.0,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-sept,185.0,Washington,6912869.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-jul,220.0,Ohio State,3425510.0
13,James Young,Boston Celtics,13.0,SG,20.0,6-jun,215.0,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0

In [50]:
pdf = df_nba[df_nba.Team.isin(['Boston Celtics']) & df_nba.Position.isin(['PG'])]
pdf

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-feb,180.0,Texas,7730337.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-feb,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-abr,220.0,Oklahoma State,3431040.0
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-sept,185.0,Washington,6912869.0

In [51]:
edf = df_nba[df_nba.College.isin(['Texas', 'Duke'])]
edf

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-feb,180.0,Texas,7730337.0
42,Lance Thomas,New York Knicks,42.0,SF,28.0,6-ago,235.0,Duke,1636842.0
56,Jahlil Okafor,Philadelphia 76ers,8.0,C,20.0,6-nov,275.0,Duke,4582680.0
66,Cory Joseph,Toronto Raptors,6.0,PG,24.0,6-mar,190.0,Texas,7000000.0
103,JJ Redick,Los Angeles Clippers,4.0,SG,31.0,6-abr,190.0,Duke,7085000.0
104,Austin Rivers,Los Angeles Clippers,25.0,PG,23.0,6-abr,200.0,Duke,3110796.0
113,Ryan Kelly,Los Angeles Lakers,4.0,PF,25.0,6-nov,230.0,Duke,1724250.0
133,P.J. Tucker,Phoenix Suns,17.0,SF,31.0,6-jun,245.0,Texas,5500000.0
144,Seth Curry,Sacramento Kings,30.0,SG,25.0,6-feb,185.0,Duke,947276.0
154,Mike Dunleavy,Chicago Bulls,34.0,SG,35.0,6-sept,230.0,Duke,4500000.0
168,Kyrie Irving,Cleveland Cavaliers,2.0,PG,24.0,6-mar,193.0,Duke,16407501.0
179,Tristan Thompson,Cleveland Cavaliers,13.0,C,25.0,6-sept,238.0,Texas,14260870.0
208,Myles Turner,Indiana Pacers,33.0,PF,20.0,6-nov,243.0,Texas,2357760.0
223,Jabari Parker,Milwaukee Bucks,12.0,PF,21.0,6-ago,250.0,Duke,5152440.0
224,Miles Plumlee,Milwaukee Bucks,18.0,C,27.0,6-nov,249.0,Duke,2109294.0
289,Jordan Hamilton,New Orleans Pelicans,25.0,SG,25.0,6-jul,220.0,Texas,1015421.0
294,LaMarcus Aldridge,San Antonio Spurs,12.0,PF,30.0,6-nov,240.0,Texas,19689000.0
340,Luol Deng,Miami Heat,9.0,SF,31.0,6-sept,220.0,Duke,10151612.0
346,Josh McRoberts,Miami Heat,4.0,PF,29.0,6-oct,240.0,Duke,5543725.0
352,Justise Winslow,Miami Heat,20.0,SF,20.0,6-jul,225.0,Duke,2481720.0
384,D.J. Augustin,Denver Nuggets,12.0,PG,28.0,6-0,183.0,Texas,3000000.0
401,Tyus Jones,Minnesota Timberwolves,1.0,PG,20.0,6-feb,195.0,Duke,1282080.0
414,Kevin Durant,Oklahoma City Thunder,35.0,SF,27.0,6-sept,240.0,Texas,20158622.0
424,Kyle Singler,Oklahoma City Thunder,5.0,SF,28.0,6-ago,228.0,Duke,4500000.0
433,Gerald Henderson,Portland Trail Blazers,9.0,SG,28.0,6-may,215.0,Duke,6000000.0
439,Mason Plumlee,Portland Trail Blazers,24.0,C,26.0,6-nov,235.0,Duke,1415520.0
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-ago,206.0,Duke,1348440.0